.News {
  width: 100%;
  padding: 0px 0;

  .head{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: start;
    .headBlock{
      padding: 10px 20px;
      color: #155da4;
      font-size: 24px;
      background-color: white;
      border-radius: 20px 20px 0px 0px;
      display: flex;
      align-items: center;
      h2 {
        color: #155da4;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  
  .inner_cont {
    padding: 20px 25px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;

    section {
      display: flex;
      gap: 20px;
    }
  }
}
