.Card {
  background-color: #daefff;
  display: flex;
  justify-content: space-between;
  color: #3f3f3f;
  border-radius: 30px;
  height: 250px;
  h2 {
    font-weight: normal;
    margin-bottom: 20px;
  }
  a {
    color: #fff;
    background-color: #5492f0;
    padding: 10px 20px;
    border-radius: 10px;
  
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    >span{
      font-size: 12px;
    }
    div{
      margin: 20px 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
  .organization {
    background-color: #5492f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    color: #fff;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-bottom: 15px;
    }
  }
}