.AllTenders {
  display: flex;
  flex-direction: column;

  .head{
    width: 100%;
    display: flex;
    .headBlock{
      height: 40px;
      padding: 0px 20px;
      border-radius: 20px 20px 0px 0px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      .headH{
        font-size: 24px;
        color: #155DA4;
      }
    }
  }

  .tenderTable {
    margin: 0px auto ;
    border-collapse: collapse;
    th {
      background-color: #d7d7d75a;
      color: #7e7e7e;
      font-size: 14px;
    }

    th,
    td {
      border: none;

      padding: 15px 30px;
      text-align: left;
    }

    tr:nth-child(even) {
      // background-color: #f2f2f2be;
      background: rgba(229, 229, 229);
    }
    tr:nth-child(odd) {
      background-color: #ffffff;
    }
  }

  h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  /* Pagination.scss */

  .paginationDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px ;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
      width: 50px;
      height: 50px;
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.2s;
      color: #155DA4;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #155DA4;
      a{
        color: black;
      }
      

      &.active {
        background-color: #007bff;
        color: #fff !important;
        a{
          color: white;
        }
      }
    }

    a {
      display: block;
      text-decoration: none;


    }

  
  }
}
