.News {
  width: 100%;
  padding: 50px 0 50px 0;
  h2 {
    width: 100%;
    margin: 0 auto;
    color: #155da4;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:white;
  }
  .inner_cont {
    padding: 20px 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    section {
      display: flex;
      gap: 20px;
    }
  }
}
