.wrap{
      width: 100%;
      padding: 50px 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .red{
        color: red;
      }
    
      .choose{
        width: 80%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 17px;
        div{
          padding: 10px 20px;
          border: 3px solid #155da4;
          border-radius: 10px;
          background-color: white;
          color: #155da4;
        }
        .active{
          background-color: #155da4;
          color: white;
        }
      }
    }