* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
a {
  color: #6499e9;
  text-decoration: none;
}
.page {
  max-width: 85%;
  margin: 0 auto;
  padding: 00px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: #ffffff;
  /* background-color: white; */
  min-height:100vh;
}
