@keyframes rec {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
  opacity: 0;
  }
}

.WebCam {
  margin-bottom: 100px;
  .face{
    border-radius: 50%;
    width: 200px;
    height: 300px;
    border: 5px dashed green;
    position: absolute;
    top: 100px;
    left: 700px;
  }
  .pass{
    width: 300px;
    height: 200px;
    border: 5px dashed #155da4;
    position: absolute;
    top: 500px;
    left: 650px;
  }
  .btn {
    transform: translate(100px, -100px);
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    outline: none;
    font-size: 26px;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: tomato;
    }
  }
  .rec {
    transform: translate(100px, -100px);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: tomato;
    border: 3px solid #fff;
    animation: rec infinite 1s;
  }
  .register_btn{
    background-color: #155da4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
