.Nav{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #6499E9;
  a{
    margin: 0 10px;
    padding: 20px 25px;
    font-size: 18px;
    border-radius: 20px;
    transition: .5s background-color;
    &:hover{
      color: rgb(0, 102, 255);
      text-shadow: 0  0 15px rgb(220, 224, 245);
      
    }
  }
  .logo{
    font-size: 24px;
    &:hover{
      color: #6499E9;
      text-decoration: none;
    
    }
  }
}