.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  ul {
    display: flex;
    align-items: center;

    list-style-type: none;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;

    li {
      span {
        display: flex;
        align-items: center;
        input {
          padding: 10px 25px;
          width: 400px;
          height: 40px;
          border: 1px solid black;

          border-right: none;
          border-radius: 5px 0 0 5px;
          outline: none;
        }

        button {
          height: 40px;
          background-color: #fff;
          border: 1px solid black;
          border-radius: 0 5px 5px 0;
          border-left: none;
          padding: 0 10px;

          svg {
            width: 25px;
            height: 20px;
          }
        }
      }
      a {
        color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
